@using DemoDB.Models
@model List<Category>
<style>
    #div-u {
        padding-top: 50px;
        margin-top: 50px;
        background-color: aquamarine;
        text-decoration: none;
    }

    .div-cate {
        height: 30px;
        width: 100%;
    }

    a {
        color: #a94442;
        text-decoration: none;
        font-size: x-large;
    }

        a:hover {
            text-decoration: none;
        }
</style>
<ul style="list-style-type:none" id="div-u">
    @{
        foreach (var item in Model)
        {
            <li class="div-cate">
                @Html.ActionLink(item.NameCate, "Index", "Products", new { Category = item.IDCate.Trim() }, "")
            </li>
            <hr />
        }
    }
</ul>
